@import url("https://fonts.googleapis.com/css2?family=mono:wght@400;700&display=swap");

body {
  padding: auto;
  margin: 0;
  font-size: medium;
  box-sizing: border-box;
  background-color: darkseagreen;
  font-family: "mono", monospace;
}

#hero {
  cursor: default;
  width: auto;
  height: auto;
  margin: auto;
  color: white;
  opacity: 1;
  text-align: center;
  padding: 50px 20px;
  background-image: url("../images/HeroImage.jpg");
  background-size: cover;
}
button {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  opacity: 0.8;
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
  font-size: medium;
  margin-top: 20px;
}
button:hover {
  background-color: gold;
}
